<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    
    <script src="lib/underscore/underscore.js"></script>
    
    <script src="js/api.js"></script>
    <!-- your app's js -->
    <script src="puget_trough.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    
    <ion-nav-bar>
      <ion-nav-back-button class="button-clear">
          <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
         
    <ion-nav-view animation="slide-left-right">
    </ion-nav-view>
    
    <script id="home.html" type="text/ng-template">
    <ion-view title="Vashon Birds of Summer">
      <ion-content>  
        <div class="list card" ng-repeat="habitat in habitats">
          <div class="item item-divider">
            <h2>{{habitat.name}}</h2>
          </div>
          <div class="item item-body">
            <button-study></button-study>
            <span ng-repeat="bird in habitat.birds">
              <a href="#/bird/{{$parent.$index}}/{{$index}}">
                <img ng-src="{{bird.images[0].src}}" width=84 />
              </a>
            </span>
            <button-study></button-study>
          </div>
        </div>   
      </ion-content> 
      
    </ion-view>  
    </script>
    
    <script id="button-study.html" type="text/ng-template">
    <a href="#/game" class="button button-block button-positive">
      <i class="icon ion-university"></i> Study
    </a>
    </script>

    <script id="about.html" type="text/ng-template">
    <ion-view title="{{ bird.common_name }}">
      <ion-content padding="true">
        <div>
          <span ng-repeat="image in bird.images">
            <img src="{{image.src}}" width=370 alt="" />
          </span>
        </div>
        <div>
          {{ bird.cool_facts }}
        </div>
        <div>
          {{ bird.description}}
        </div>
      </ion-content>
    </ion-view>
    </script>
    
    <script id="game.html" type="text/ng-template">
    <ion-view title="Play Sound">
      
      <audio id="player" src="{{secretBird.call}}"></audio>
    
      <ion-content padding="true">      
        <span ng-repeat="bird in birds">
          <a ng-click="clickBird(bird, $index)" class="overlay-container">
            <img ng-src="{{bird.images[0].src}}" width=84 height=84 />
            <span ng-show="bird.goodGuess" class="overlay overlay-success">yes!</span>
            <span ng-show="bird.badGuess" class="overlay overlay-failure">no :(</span>
          </a>
        </span>
      </ion-content>
      <div class="bar bar-footer bar-stable">
        <div class="row row-center">
          <div class="col col-game">
            <span class="number-icon" ng-click='toggleCount()'>{{count}}</span>
          </div>
          <div class="col col-game">
            <span ng-switch on="state" class="play" ng-click="mainAction()">
              <i ng-switch-when="play" class="icon ion-play"></i>  
              <i ng-switch-when="guess" class="icon ion-help"></i>  
            </span>
          </div>
          <div class="col col-game">
            <i class="icon ion-shuffle" ng-click='shuffle()'></i>
          </div>
        </div>
      </div>
    </ion-view>
    </script>
  </body>
</html>
